body {
    margin: 0;
    padding: 0;
}

.navigation-bar {
    background-color: #6e072d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 18px;
    padding: 18px;
    cursor: pointer;
    transition: background-color 0.3s, cursor 0.3s;
    border: 2px solid white;
}

#pricing-item {
    border-right: none;
}

#team-item {
    border-left: none;
}

a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #b90e4d;
}
