body {
    margin: 0;
    padding: 0;
}

.navigation-bar {
    background-color: #6e072d;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center vertically */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 18px;
    padding: 18px 27px; /* Vertical and horizontal padding */
    cursor: pointer;
    transition: background-color 0.3s, cursor 0.3s;
    border: 2px solid white; /* Add border to all sides initially */
    border-right: none; /* Remove right border for all items */
}

li.no-left-border {
    border-left: none;
}

li.no-right-border {
    border-right: 2px solid white; /* Add right border for specific item */
}

a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #b90e4d;
    cursor: pointer;
}
